<!-- Begin Header -->
	<div id="title">
		<!-- Begin Title -->
		<h1>About Us</h1>
		<!-- End Title -->
	</div>
	<!-- End Header -->

	<!-- Start Content Wrapper -->
	<div class="content_wrapper">
		<!-- Content Area -->
		<div id="content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis orci ut nisl tristique nec laoreet massa viverra. Nam lectus metus, facilisis in tincidunt vitae, hendrerit sit amet ipsum. Fusce aliquet sapien at lorem commodo tempus. Integer lorem risus, adipiscing ut sodales id, tincidunt ut enim. Suspendisse ac nulla ante, sed bibendum justo. Donec fringilla, nisi ac auctor bibendum, mi libero condimentum turpis, quis aliquet nisi purus at felis.</p>
			<hr />
			<h2>Our Team</h2>
			<div class="columns">
				<div class="column">
					<span class="thumb size_4"><img src="images/content/our_team_pic1.jpg" width="187" height="144" alt="" /></span>
					<h3>Dominic Toretto</h3>
					<p>Donec imperdiet ipsum vitae enim porta at aliquam sem pharetra. Fusce non mauris at metus dapibus dictum et eget lorem. In placerat convallis commodo.</p>
				</div>
				<div class="column">
					<span class="thumb size_4"><img src="images/content/our_team_pic2.jpg" width="187" height="144" alt="" /></span>
					<h3>David Green</h3>
					<p>Donec imperdiet ipsum vitae enim porta at aliquam sem pharetra. Fusce non mauris at metus dapibus dictum et eget lorem. In placerat convallis commodo.</p>
				</div>
				<div class="column">
					<span class="thumb size_4"><img src="images/content/our_team_pic3.jpg" width="187" height="144" alt="" /></span>
					<h3>Bradley Cooper</h3>
					<p>Donec imperdiet ipsum vitae enim porta at aliquam sem pharetra. Fusce non mauris at metus dapibus dictum et eget lorem. In placerat convallis commodo.</p>
				</div>
				<div class="column">
					<span class="thumb size_4"><img src="images/content/our_team_pic4.jpg" width="187" height="144" alt="" /></span>
					<h3>Jack Sparrow</h3>
					<p>Donec imperdiet ipsum vitae enim porta at aliquam sem pharetra. Fusce non mauris at metus dapibus dictum et eget lorem. In placerat convallis commodo.</p>
				</div>
				<div class="clear"></div>
			</div>
			<hr />
			<div class="columns2">
				<div class="column">
					<h2>Web &amp; Logo Design</h2>
					<p>Phasellus dui leo, sodales ac dapibus quis, scelerisque sed erat. Suspendisse ac est turpis. Pellentesque aliquet pellentesque ligula et luctus.</p>
					<ul class="unordered type18">
						<li>Praesent nulla lectus</li>
						<li>Facilisis quis aliquet non</li>
						<li>Tempus aliquam tortor cras sit</li>
						<li>Amet libero non tellus placerat</li>
					</ul>
				</div>
				<div class="column">
					<h2>Web Development</h2>
					<p>Phasellus dui leo, sodales ac dapibus quis, scelerisque sed erat. Suspendisse ac est turpis. Pellentesque aliquet pellentesque ligula et luctus.</p>
					<ul class="unordered type18">
						<li>Praesent nulla lectus</li>
						<li>Facilisis quis aliquet non</li>
						<li>Tempus aliquam tortor cras sit</li>
						<li>Amet libero non tellus placerat</li>
					</ul>
				</div>
				<div class="column">
					<h2>Online Marketing &amp; PR</h2>
					<p>Phasellus dui leo, sodales ac dapibus quis, scelerisque sed erat. Suspendisse ac est turpis. Pellentesque aliquet pellentesque ligula et luctus.</p>
					<ul class="unordered type18">
						<li>Praesent nulla lectus</li>
						<li>Facilisis quis aliquet non</li>
						<li>Tempus aliquam tortor cras sit</li>
						<li>Amet libero non tellus placerat</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<!-- End Content Wrapper -->
